/* Vars */
$clickerBackground: #262626;
$correct: #070;
$incorrect: #a00;
$highlightColour: #bde;
$textColour: #fff;

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}
html,
body {
    height: 100%;
    width: 100%;
}

#clicker {
    background: $clickerBackground;
    cursor: url(../images/knock.cur), default;
    height: 500px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    width: 100%;

    &.fullscreen {
        height: 100%;
    }
    &.correct {
        background: $correct;
        cursor: default;
    }
    &.incorrect {
        background: $incorrect;
    }
    .content {
        color: $textColour;
        font-family: Tahoma;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 1;
        position: relative;
        text-align: center;
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.33);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

        a {
            color: $textColour;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                color: $highlightColour;
            }
        }
    }
    .dot {
        -webkit-animation: circle 1s ease-out forwards;
        -o-animation: circle 1s ease-out forwards;
        animation: circle 1s ease-out forwards;
        background: $highlightColour;
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        border-bottom-left-radius: 9999px;
        height: 200px;
        margin-left: -97px;
        margin-top: -95px;
        opacity: 0.6;
        position: absolute;
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
        width: 200px;
    }
}
#create {
    background: $correct;
    border-radius: 80px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;

    &:hover {
        background: $highlightColour;
    }
    a {
        color: $textColour;
        display: block;
        font-family: Tahoma;
        text-decoration: none;
    }
}

#record,
#save,
#show,
#download,
#test {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Tahoma;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}
#record.active {
    color: #a00;
}
#save.active {
    color: #0a0;
}
#knocks {
    background: #ddd;
    display: block;
    height: 40px;
    margin: 30px 5%;
    position: relative;
    width: 90%;

    .knock {
        background: #aaa;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
    }
}

@keyframes circle {
    100% {
        transform: scale(10);
        opacity: 0;
    }
}
@-moz-keyframes circle {
    100% {
        transform: scale(10);
        opacity: 0;
    }
}
@-ms-keyframes circle {
    100% {
        transform: scale(10);
        opacity: 0;
    }
}
@-o-keyframes circle {
    100% {
        transform: scale(10);
        opacity: 0;
    }
}
@-webkit-keyframes circle {
    100% {
        transform: scale(10);
        opacity: 0;
    }
}